extends ../layouts/public

block content
  input(type='email' name='sender' placeholder='sender')
  textarea(name='sender' placeholder='sender' style='font-family: courier;')
  textarea(name='message' placeholder='message')
  input(type='button' name='sender' value='Send campaign')
